.sidebar {
  position: fixed;
  top: 48px;
  left: 0;
  width: 56px;
  height: calc(100% - 48px);
  background: var(--card-bg);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 8px;
  button {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 8px;
    &:hover { background: #ffffff22; }
  }
}
body { padding-left: 56px; }
