@use 'styles/root' as *;

dialog.conn-manager {
  width: 420px;
  padding: 1rem;
  border-radius: var(--border-radius);

  .conn-row {
    display: grid;
    grid-template-columns: 1fr 4rem 4rem 2rem;
    gap: .5rem;
  }

  input.invalid {
    outline: 2px solid #ff6b6b;
  }
}
